

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Inter:wght@300;400&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}



@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.eot');
  src: url('/fonts/GoogleSans-Regular.ttf');
  src: url('/fonts/GoogleSans-Regular.woff');
  src: url('/fomts/GoogleSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GTWalsheimPro-Black';
  src: url('/fonts/GTWalsheimPro-Black.eot');
  src: url('/fonts/GTWalsheimPro-Black.ttf');
  src: url('/fonts/GTWalsheimPro-Black.woff');
  src: url('/fonts/GTWalsheimPro-Black.woff2');
  font-weight: normal;
  font-style: normal;
}



:root {
  --fullBlack: #000000;
  --softWhite: #f0f0f0;
  --fullWhite: #ffffff;
  --subtitleColor: #6cace4;
  --subTextColor: #c4c4c4;
  --namecolor: linear-gradient(to right, #9845e8, #33d2ff, #dd5789);
  --sendanEmailGradient: linear-gradient(
    to right,
    #9358f7,
    #9259f7,
    #8e5df6,
    #8862f5,
    #806bf4,
    #7575f2,
    #6882f0,
    #5990ee,
    #4a9feb,
    #3bade9,
    #2ebae7,
    #23c4e5,
    #1bcde4,
    #15d2e3,
    #11d6e2,
    #10d7e2
  );
  --linkedInGradient: linear-gradient(to right, #6964de, #fca6e9);
  --upWorkGradient: linear-gradient(to right, #fedc2a, #dd5789, #7a2c9e);
  --githubGradient: linear-gradient(
    225.4deg,
    #fedc2a 0%,
    #dd5789 48.12%,
    #7a2c9e 93.59%
  );
  --width: 85%;
}


@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --width: 90%;
  }
}


@media (max-width: 767px) {
  :root {
    --width: 95%;
  }
}
