/* 
TODO: You can import the google fonts and declare your root here.
This is the link for the Inter Google font. https://fonts.google.com/specimen/Inter?query=inter 
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Inter:wght@300;400&display=swap');


:root{
  font-family: 'Inter', sans-serif;
}
/* 
TODO: You can import the local fonts here, we might not have access to the font used in Figma so 
we'll be using a fonts in the public folder. (called Google Sans).
I have imported this font improperly, Next.js has a standard for importing local assets, 
can you explain how and correct me in the Readme?

Also, we don't need to import all the font weights and variations in the fonts folder,
Can you use the Figma to identify the weights and styles we need?
Please list them in the readme after importing them into this file.


FINALLY. You'll notice the different kinds of font formats (woff2, woff, truetype, opentype)
Can you give summaries for each on them and the major differences?
*/

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.eot');
  src: url('/fonts/GoogleSans-Regular.ttf');
  src: url('/fonts/GoogleSans-Regular.woff');
  src: url('/fomts/GoogleSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'GTWalsheimPro-Black';
  src: url('/fonts/GTWalsheimPro-Black.eot');
  src: url('/fonts/GTWalsheimPro-Black.ttf');
  src: url('/fonts/GTWalsheimPro-Black.woff');
  src: url('/fonts/GTWalsheimPro-Black.woff2');
  font-weight: normal;
  font-style: normal;
}


/* 
TODO: declare a root, assigning values to the reusable values in the Figma. i.e color, font colors, gradients etc 
*/

:root {
  --fullBlack:      #000000;
  --softWhite:      #F0F0F0;
  --fullWhite:      #ffffff; 
  --subtitleColor:  #6CACE4;
  --subTextColor:   #C4C4C4;
  --namecolor: linear-gradient(to right, #9845E8, #33D2FF, #DD5789);
  --sendanEmailGradient: linear-gradient(to right,#9358F7,#9259F7,#8E5DF6,#8862F5,#806BF4,#7575F2,#6882F0,#5990EE,#4A9FEB,#3BADE9,#2EBAE7,#23C4E5,#1BCDE4,#15D2E3,#11D6E2,#10D7E2);
  --linkedInGradient: linear-gradient(to right,#6964DE,#FCA6E9);
  --upWorkGradient: linear-gradient(to right,#FEDC2A,#DD5789,#7A2C9E);
  --githubGradient: linear-gradient(225.4deg, #FEDC2A 0%, #DD5789 48.12%, #7A2C9E 93.59%);
  --width: 85%;
}


/*
 TODO: Define a max-width for your tablet views, do research into media queries and a proper width to use. 
 */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --width: 90%;
  }
}
 
 


/*
 TODO: Define a max-width for your mobile views, do research into media queries and a proper width to use. 
 */
@media (max-width: 767px) {
  :root {
    --width: 95%;
  }
}